#content {
    min-width: 300px;
    width: 500px;
    margin: auto;
    font-size: 12pt;
}

#title-name {
    font-size: 24pt;
    margin: 20px 0 10px
}

#socials {
    margin: 10px 0px
}

#projects {
    margin-top: 20px
}

.project-title {
    font-size: 18pt;
}

article.project {
    margin: 40px 0px
}

article.project .year {
    opacity: 50%
}

article.project .preview {
    margin: 20px 0px
}

@media only screen and (min-width: 800px) {

}

a:hover {
    opacity: 50%
}

a:visited {
    color: #0066CC
}

a {
    color: #0066CC
}